.canvas_field_container {
  width: 100%;
  flex-grow: 0 !important;
}
.canvas { 
  // width: 84vw !important;
  flex-grow: 1;
  // height: 94vh !important;
  background-color: transparent;
  // border: 1px solid red;
}


